@import "@/style/Variables.scss";
footer {
  margin-top: 130px;
  border-top: 1px solid #ebebeb;

  .main {
    display: flex;
    width: 1400px;
    margin: 0 auto;
    padding: 60px 135px;
  }

  .left-side {
    font-size: 16px;
    img {
      width: 140px;
      margin-bottom: 10px;
    }

    p {
      line-height: 28px;
      margin-bottom: 50px;
    }

    .copyright {
      color: #8e989f;
      span {
        color: $blue;
      }
    }
  }

  .right-side {
    display: flex;
    margin-left: 130px;

    .list-container {
      .section-title {
        font-size: 20px;
        color: $darkGrey;
        padding-bottom: 30px;
      }

      ul {
        li {
          color: #8e989f;
          line-height: 40px;
          cursor: pointer;
        }
      }
    }

    .list-container:nth-child(2) {
      margin: 0 230px;
    }
  }
}
