@import "@/style/Utility.scss";
footer {
  margin-top: 130px;
  border-top: 1px solid #ebebeb;
  position: relative;

  .p-width {
    display: flex;
    padding: 60px 135px;
  }

  .left-side {
    font-size: 16px;
    img {
      width: 140px;
      margin-bottom: 10px;
    }

    p {
      line-height: 28px;
      margin-bottom: 50px;
    }

    .copyright {
      color: $grey;
      span {
        color: $blue;
      }
    }
  }

  .right-side {
    display: flex;
    margin-left: 130px;

    .list-container {
      .section-title {
        font-size: 20px;
        color: $darkGrey;
        padding-bottom: 30px;
      }

      ul {
        li {
          color: $grey;
          line-height: 40px;
        }
      }
    }

    .list-container:nth-child(2) {
      margin: 0 230px;
    }
  }

  .go-up {
    text-align: center;
    line-height: 50px;
    font-size: 18px;
    background-color: #b2b2b2;
    width: 50px;
    height: 50px;
    position: absolute;
    right: 30px;
    bottom: 30px;
    border-radius: 50%;

    a {
      color: white;
    }
  }
}
