@import "@/style/Utility.scss";

header {
  height: 75px;
  padding: 0 110px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1400px;
  margin: 0px auto 10px auto;

  .logo {
    width: 45px;

    img {
      width: 100%;
    }
  }

  .right-side {
    display: flex;
    align-items: center;

    nav {
      display: flex;
      padding-bottom: 6px;

      ul {
        font-size: 17px;
        padding: 17px;

        li {
          padding: 17px 0;
          border-bottom: 2px solid transparent;
          &:hover {
            border-bottom: 2px solid $blue;
          }

          a {
            color: $darkGrey;
          }

          &:hover a {
            color: $blue;
          }
        }
      }
    }

    .icon-functions {
      margin: 35px;

      .fas {
        margin: 15px;

        &:hover {
          color: $blue;
        }
      }

      .fa-shopping-cart {
        position: relative;

        .shop-num {
          position: absolute;
          top: -12px;
          right: -10px;
          background-color: $blue;
          color: white;
          padding: 4px 7px;
          text-align: center;
          border-radius: 50%;
          font-size: 11px;
          z-index: -1;
        }

        &:hover .shop-num {
          background-color: $btnHoverColor;
        }
      }
    }
  }
}
