@import "@/style/Utility.scss";

.container {
  margin: 0;

  .carousel {
    .card-container {
      margin-top: 100px;
      display: flex;
      justify-content: space-around;
      padding: 0 130px;
      .card {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 510px;
        padding: 35px;
        position: relative;
        border-radius: 3px;
        border: 1px solid #ebebeb;
        box-shadow: 0px 20px 30px 10px #dedede;
        background-image: url("../../assets/img/virgolette.png");
        background-size: 200px;
        background-position-x: center;
        background-position-y: 115px;
        background-repeat: no-repeat;

        img {
          width: 60px;
          border-radius: 50%;
          border: 2px solid #f2f2f2;
          margin-top: 10px;
          margin-bottom: 40px;
        }

        .text {
          .name {
            text-align: center;
            font-size: 21px;
            margin-bottom: 25px;

            .role {
              font-size: 15px;
              font-weight: 600;
              color: $grey;
            }
          }

          p {
            line-height: 30px;
          }
        }

        .little-border,
        .mini-border {
          position: absolute;
          left: 0;
          right: 0;
          margin: auto;
          border-bottom-left-radius: 3px;
          border-bottom-right-radius: 3px;
          border: 1px solid #ebebeb;
        }

        .little-border {
          bottom: -12px;
          background-color: #f3f3f3;
          height: 12px;
          width: 440px;
        }

        .mini-border {
          bottom: -24px;
          background-color: #f3f3f3;
          height: 12px;
          width: 410px;
        }
      }
    }

    .carousel-nav {
      .dot-box {
        display: flex;
        justify-content: center;
        margin-top: 50px;

        .dot {
          margin: 0 4px;
          height: 10px;
          width: 10px;
          background-color: $darkGrey;
          border-radius: 50%;

          &:hover {
            background-color: $blue;
          }
        }

        .selected {
          background-color: $blue;
        }
      }
    }
  }
}
